html, body {
	padding: 0;
	margin: 0;
  background-image: url("./images/background.jpeg");
	color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}
html {
	font-size: 1em;
}
body {
	font-size: 100%;
}
a img, :link img, :visited img {
	border: 0;
}
label {
	display: block;
	margin: 5px;
}
input {
	text-align: center;
	color: #333;
	margin-bottom: 5px;
	border-radius: 5px;
}
a:hover {
	color: #f0ad4e;
}

#app {
	height: 95vh;
	margin: 2vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-button {
	margin: 5px;
}

.task-challenge {
	margin: auto;
}
.task-challenge * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.enter-challenge {
	margin-top: 30px;
}
/* general imgs */
img {
	max-height: 350px;
}
/* imgs on DBZ component */
.img-circle {
	border-radius: 50%;
	object-fit: cover;
	width: 230px;
	height: 230px;
	margin: 10px;
}

.footer {
	text-align: center;
	margin-top: auto;
}
